<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fuel Logs</title>
  <link rel="stylesheet" href="../../asset/css folder/fuel.css" />
</head>
<body>
  <div class="fuel-container">
    <header>
      <h1>Fuel Logs</h1>
      <button onclick="goBack()">Back to Dashboard</button>
    </header>

    <section class="fuel-grid" id="fuelList"></section>
  </div>

  <script src="../../asset/js folder/fuel.js"></script>
</body>
</html>
