<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Login | TM</title>
        <link rel="stylesheet" href="../../asset/css folder/loginPageStyle.css">
        <link rel="icon" type="image/png" href="../../asset/image/car.png">
    </head>

    <body>
    <div class="loginContainer">
        <form id="loginForm" method = "post" action="../../controller/loginCheck.php" enctype="multipart/form-data">
        
        <center><img src="../../asset/image/car.png" width="70px" alt="logo"></center>
        
        <h2 id="loginTitleTxt">Login</h2>

        <div class="inGrp">
            <label for="email">Email</label>
            <input type="email" id="email" name = "email" value = "" placeholder="yourEmail@gmail.com"/>
        </div>

        <div class="inGrp">
            <label for="password">Password</label>
            <div class="password-wrapper">

            <input type="password" id="password" name = "password" value=""/>
            
            </div>
        </div>

        <button type="submit" name="submit" value="submit">Login</button>

        <p class="message" id="message"></p>

        <div class="links">
            <a href="../html folder/forgotPasswordPage.html" target="_self">Forgot Password?</a><br>
            <a href="../html folder/signupPage.html">Don't have an account? Sign up</a>
        </div>

        </form>
    </div>

    <script src="../../asset/js/login.js"></script> 
    </body>

</html>